<!DOCTYPE html>
<html>
<% include ./partials/head %>

<body class="hold-transition sidebar-mini">
  
<!-- Select2 -->
<link rel="stylesheet" href="select2/css/select2.min.css">
<link rel="stylesheet" href="select2-bootstrap4-theme/select2-bootstrap4.min.css">

<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <% include ./partials/navbar %>

  <!-- Main Sidebar Container -->
  <% include ./partials/admin-sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Supplier</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Add Supplier</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">General</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputName">Supplier Name</label>
                <input type="text" id="inputName" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputStatus">Category</label>
                <select class="form-control custom-select">
                  <option selected disabled>Select one</option>
                  <option>Agriculture</option>
                  <option>Technology</option>
                  <option>Fashion</option>
                  <option>Poultry</option>
                </select>
              </div>

              <div class="form-group">
                <label>Products</label>
                <div class="select2-primary">
                  <select class="select2" multiple="multiple" data-placeholder="Select a Product" data-dropdown-css-class="select2-primary" style="width: 100%;">
                    <option>Tshirts</option>
                    <option>Maize</option>
                    <option>Cowbeans</option>
                    <option>Trousers</option>
                    <option>Laptops</option>
                    <option>Computers</option>
                    <option>Wheat</option>
                    <option>Fertiliser</option>
                    <option>Eggs</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="inputDescription">Notes</label>
                <textarea id="inputDescription" class="form-control" rows="4"></textarea>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Contact Information</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="supplierEmail">Email Address</label>
                <input type="email" id="supplierEmail" name="supplierEmail" class="form-control">
              </div>
              <div class="form-group">
                <label for="supplierWebsite">Website</label>
                <input type="url" id="supplierWebsite" name="supplierWebsite" class="form-control">
              </div>
              <div class="form-group">
                <label for="supplierPhoneNumber">Phone Number</label>
                <input type="text" class="form-control" name="supplierPhoneNumber"
                data-inputmask="'mask': ['999-999-9999 [x99999]', '+999 99 999 999[9]-9999', '+999 99 999 9999']" data-mask>
              </div>
              <div class="form-group">
                <label for="supplierAltPhoneNumber">Altenative Phone Number</label>
                <input type="text" class="form-control" name="supplierAltPhoneNumber"
                data-inputmask="'mask': ['999-999-9999 [x99999]', '+999 99 999 999[9]-9999', '+999 99 999 9999']" data-mask>
              </div>
              <div class="form-group">
                <label for="supplierAddress">Address</label>
                <textarea type="text" class="form-control" name="supplierAddress" rows="4"></textarea>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Bank Details</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="bankName">Bank Name</label>
                <input type="text" id="bankName" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="bankAccountNumber">Account Number</label>
                <input type="number" id="bankAccountNumber" class="form-control" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="#" class="btn btn-secondary">Cancel</a>
          <input type="submit" value="Add Supplier" class="btn btn-success float-right">
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <% include ./partials/footer %>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="select2/js/select2.full.min.js"></script>
<!-- InputMask -->
<script src="moment/moment.min.js"></script>
<script src="inputmask/min/jquery.inputmask.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="js/demo.js"></script>
<!-- Page script -->
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Data Mask
    $('[data-mask]').inputmask()

  })
</script>
</body>
</html>
